# Deploy environment variables
MQTT_BROKER_PORT=1883
BACKEND_PORT=8000
DASHBOARD_PORT=5173

# Adapters / Simulators
REST_ADAPTER_PORT=8100
MODBUS_SIM_PORT=1502
OPCUA_SIM_PORT=4840

# Fuseki Semantic Runtime (service-internal hostnames)
FUSEKI_PORT=3030
FUSEKI_ENDPOINT=http://localhost:3030/factory
FUSEKI_QUERY_URL=http://fuseki:3030/factory/sparql
SEMANTIC_WRITE_ENABLED=true
