MQTT_BROKER_PORT=1883
BACKEND_PORT=8000
DASHBOARD_PORT=5173

REST_ADAPTER_PORT=8100
MODBUS_SIM_PORT=1502
OPCUA_SIM_PORT=4840

FUSEKI_PORT=3030
FUSEKI_ENDPOINT=http://localhost:3030/factory
FUSEKI_QUERY_URL=http://fuseki:3030/factory/sparql
SEMANTIC_WRITE_ENABLED=true

ACTIVE_PROTOCOL_DEVICES='{"mqtt":["ESP32_001"],"rest":["ESP32_002","ESP32_003"],"modbus":["ESP32_005"],"opcua":["ESP32_004"]}'
